<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menuHeader" aria-label="Menu principal da aplicação">
    <mat-icon>menu_book</mat-icon>
  </button>
  <mat-menu #menuHeader="matMenu">
    <button mat-menu-item [routerLink]="['/home']" *ngIf="isLoggedIn">
        <mat-icon>library_books</mat-icon>
        <span>Consultar Estante</span>
    </button>
    <button mat-menu-item [routerLink]="['/user/libray']" *ngIf="isLoggedIn">
        <mat-icon>bookmark</mat-icon>
        <span>Minha lista</span>
    </button>
    <button mat-menu-item [routerLink]="['/book/register']" *ngIf="isLoggedIn && userLogged.isAdmin">
        <mat-icon>book_6</mat-icon>
        <span>Novo Livro</span>
    </button>
  </mat-menu>
  <span class="cursor-home" [routerLink]="['/home']">Estante Crítica - O guia para sua leitura</span>
  <span class="itens-menu-spacer"></span>
  <button mat-icon-button class="manage_accounts" aria-label="Gerenciar usuários" matTooltip="Gerenciar usuários"
          *ngIf="isLoggedIn && userLogged.isAdmin" [routerLink]="['user/list']">
    <mat-icon>manage_accounts</mat-icon>
  </button>
  <button mat-icon-button class="account_circle" aria-label="Usuario logado" [matMenuTriggerFor]="menuUser" matTooltip="{{userLogged.name}}" *ngIf="isLoggedIn">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menuUser="matMenu">
    <button mat-menu-item [routerLink]="['/user/libray']" *ngIf="isLoggedIn">
        <mat-icon>bookmark</mat-icon>
        <span>Minha lista</span>
    </button>
  </mat-menu>
  <button mat-icon-button aria-label="Logout, Sair" matTooltip="Sair" *ngIf="isLoggedIn" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button aria-label="Novo Acesso" [routerLink]="['/user/register']" matTooltip="Cadastrar usuário" *ngIf="!isLoggedIn">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button aria-label="Login, Entrar" [routerLink]="['/login']" matTooltip="Entrar" *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>