.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espaço para pequenos dispositivos */
}

.login-card {
    width: 100%;        /* Ocupa 100% do espaço disponível */
    max-width: 700px;   /* Limita a largura máxima, ajuste esse valor conforme preferir */
    box-sizing: border-box; /* Garante que padding e border sejam considerados no width */
    padding: 1rem;      /* Espaçamento interno opcional */
    margin: 2rem auto;       /* Centraliza horizontalmente caso o flex do container não seja aplicado */
}

.center-icon {
    justify-content: center;
}

.center-icon mat-icon {
  margin-bottom: 10%;
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.center-button {
    justify-content: center;
}

.end-button {
    justify-content: flex-end;
}

.full-width {
    width: 100%;
}
