<div class="book-detail-container">
    <mat-card class="book-detail-card">
        <mat-card-header class="header-title">
            <mat-card-title-group>
                <mat-card-title>{{bookDetail.title}}</mat-card-title>
                <mat-card-subtitle>{{bookDetail.subtitle}}</mat-card-subtitle>
                <img mat-card-lg-image src="{{bookDetail.thumbnail}}">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="10:1">
                <mat-grid-tile colspan="2">
                    <div class="row full-width start-itens">
                        <p>
                            <span>Autor(es): {{bookDetail.authors}}</span>
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="row full-width start-itens">
                        <p>
                            <span>Editora: {{bookDetail.publisher}}</span>
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="row full-width end-itens">
                        <p>
                            <mat-icon *ngFor="let n of bookRate;">star</mat-icon>
                            <mat-icon *ngIf="bookRateHalf">star_half</mat-icon>
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <div class="row full-width start-itens">
                        <p>
                            <span>Data de publicação: {{bookDetail.publicationDate}}</span>
                        </p>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <p>
                {{bookDetail.synopsis}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="ratingActionDialog()">Avaliar</button>
            <button mat-button [routerLink]="['/home']">Voltar</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="book-detail-container margin-comments">
    <mat-card class="book-detail-card" appearance="outlined" *ngFor="let review of reviews;">
        <mat-card-header>
            <mat-card-title>
                <span>{{review.userOwner}}</span>
            </mat-card-title>
            <mat-card-subtitle>                
                <mat-icon>star</mat-icon>
                <span>{{review.numberRating}}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{review.comments}}</p>
        </mat-card-content>
    </mat-card>
</div>
