.book-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espaço para pequenos dispositivos */
}

.comments-container {
    margin-top: -5rem;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espaço para pequenos dispositivos */
}

.book-detail-card {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 1rem;
    margin: 2rem auto;
}

.comments-card {
    width: 100%; 
    max-width: 900px;
    box-sizing: border-box;
    padding: 1rem;
    margin: 2rem auto;
}

.header-title {
    justify-content: center;
    padding: 1rem 0;
}

.itens-spacer {
  flex: 1 1 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.start-itens {
    justify-content: flex-start;
}

.center-itens {
    justify-content: center;
}

.end-itens {
    justify-content: flex-end;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.rate-item-view {
    padding-left: 1rem;
    align-items: center;
}

.rate-item-view .span-number-rate {
    margin-top: 1%;
}
